# ==========================================
# 💡 .gitignore 작성 요약 가이드
# ==========================================

# 1. 이름만 지정 (프로젝트 전체 하위 폴더에서 싹 다 무시)
# secret.txt

# 2. 경로까지 지정 (해당 폴더에 있는 파일만 콕 집어서 무시)
# 2026/08/secret.txt

# 3. 맨 앞에 슬래시 (최상위 폴더, 즉 현재 위치의 파일만 무시)
# /secret.txt

# 4. 맨 뒤에 슬래시 (해당 이름의 '폴더' 안의 모든 것을 무시)
# images/

# 5. 별표 활용 (특정 확장자로 끝나는 파일 싹 다 무시)
# *.csv
# *.log

# ==========================================
templ.md
# Obsidian
.obsidian/
.trash/
.claudian
